<div class="card">

  <div class="foto-wrapper">
    <div class="foto" style="background-image: url({{pic}})">
    </div>
    <div class="contactsMobile">
      <a class="card-caption-facebook" target="_blank" href="{{facebook}}"><i
          class="fab icon fa-2x fa-facebook-square"></i></a>

      <a class="card-caption-twitter" target="_blank" href="{{twitter}}"><i class="fab icon fa-2x fa-twitter-square"></i></a>

      <a class="card-caption-mail" target="_blank" href="mailto:{{email}}">
        <i class="far icon fa-2x fa-envelope"></i></a>
      <a class="card-caption-linkedin" target="_blank" href="{{linkedIn}}"><i
          class="fab icon fa-2x fa-linkedin"></i></a>
    </div>

  </div>
  <div class="info">
    <div class="short-info-container line-after">
      <div class="shortInfo">
        <h4 class="shortInfoHeader">{{name}} {{surname}}</h4>
        <p>{{profession}} {{experience}}</p>
      </div>
    </div>
    <div class="detailed-info">
      <p>{{shortInfo}}</p>
    </div>

  </div>
</div>